@if (data$ | async; as data) { @if(data.isLoading) {
<loading></loading>
} @if(data.error; as error) {
<error-message [message]="error"></error-message>
} @if(data.feeds; as feeds) { @for(article of feeds.articles; track
article.slug) {
<div class="article-preview">
  <div class="article-meta">
    <a [routerLink]="['/profiles', article.author.image]">
      <img [src]="article.author.image" alt="" />
    </a>
    <div class="info">
      <a [routerLink]="['/profiles', article.author.image]">
        {{ article.author.username }}
      </a>
      <span class="date">{{ article.createdAt }}</span>
    </div>
    <div class="pull-xs-right">ADD TO FAVORITES</div>
  </div>
  <a [routerLink]="['/articles', article.slug]" class="preview-link">
    <h1>{{ article.title }}</h1>
    <p>{{ article.description }}</p>
    <span>Read more...</span>
    <tag-list [tags]="article.tagList"></tag-list>
  </a>
</div>
} }
<pagination
  [total]="data.feeds?.articlesCount || 0"
  [limit]="limit"
  [url]="baseUrl"
  [currentPage]="currentPage"
></pagination>
}
